In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [216]:
#reading the data.
df = pd.read_csv("fbref_data.txt")
df

In [218]:
#all columns of dataframe.
df.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls.1', 'Ast.1',
       'G+A', 'G-PK', 'G+A-PK', 'Matches'],
      dtype='object')

In [219]:
#drop columns that we don't need.
df.drop(['Gls', 'Ast', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls.1',
       'Ast.1', 'G+A', 'G-PK', 'G+A-PK', 'Matches'], axis=1, inplace=True)

In [220]:
#take a look to the data.
df.describe()

              Rk         Age         Born          MP      Starts          Min
count  723.00000  717.000000   717.000000  723.000000  723.000000   723.000000
mean   362.00000   25.743375  1992.947001   10.652835    8.398340   753.185339
std    208.85641    5.116353     5.121429    7.042988    7.111623   611.139390
min      1.00000   16.000000  1978.000000    1.000000    0.000000     3.000000
25%    181.50000   22.000000  1989.000000    4.000000    2.000000   180.000000
50%    362.00000   25.000000  1994.000000   10.000000    7.000000   623.000000
75%    542.50000   29.000000  1997.000000   17.000000   14.000000  1240.000000
max    723.00000   41.000000  2003.000000   23.000000   23.000000  2070.000000

In [222]:
#Check NA values.
df.isna().sum()

Rk        0
Player    0
Nation    0
Pos       0
Squad     0
Age       6
Born      6
MP        0
Starts    0
Min       0
dtype: int64

In [223]:
#identify rows that are the NA values.
null_data = df[df.isnull().any(axis=1)]
null_data

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min
106,107,Juan Álvarez\Juan-Alvarez,ar ARG,MFFW,Banfield,NaN,NaN,11,9,756
179,180,Franco Godoy\Franco-Godoy,ar ARG,DF,CA Unión,NaN,NaN,2,1,94
244,245,Brian Galván\Brian-Galvan,ar ARG,MFFW,Colón,NaN,NaN,5,2,251
377,378,Franco González\Franco-Gonzalez,ar ARG,MF,Godoy Cruz,NaN,NaN,4,2,157
437,438,Facundo Pérez\Facundo-Perez,ar ARG,MF,Lanús,NaN,NaN,4,2,166
571,572,Rodrigo Villagra\Rodrigo-Villagra,ar ARG,MF,Rosario Cent,NaN,NaN,1,0,15

In [224]:
#fill NA values with real value.
df.replace(to_replace={'Age':{np.nan:[24,20,19,21,20,19]},'Born':{np.nan:[1996,2000,2000,1999,1999,2001]}}, inplace=True)

In [225]:
#check NA values
df.isna().sum()

Rk        0
Player    0
Nation    0
Pos       0
Squad     0
Age       0
Born      0
MP        0
Starts    0
Min       0
dtype: int64

In [227]:
df.describe()

              Rk         Age         Born          MP      Starts          Min
count  723.00000  723.000000   723.000000  723.000000  723.000000   723.000000
mean   362.00000   25.699862  1992.998617   10.652835    8.398340   753.185339
std    208.85641    5.119604     5.133265    7.042988    7.111623   611.139390
min      1.00000   16.000000  1978.000000    1.000000    0.000000     3.000000
25%    181.50000   22.000000  1989.000000    4.000000    2.000000   180.000000
50%    362.00000   25.000000  1994.000000   10.000000    7.000000   623.000000
75%    542.50000   29.000000  1997.000000   17.000000   14.000000  1240.000000
max    723.00000   41.000000  2003.000000   23.000000   23.000000  2070.000000

In [305]:
#number of player in each squad
df.groupby('Squad')['Player'].count()

Squad
Aldosivi          28
Argentinos Jun    28
Arsenal           22
Banfield          31
Boca Juniors      28
CA Huracán        32
CA Unión          29
CC Córdoba        31
Colón             34
Defensa y Just    36
Estudiantes       27
Gimnasia ELP      35
Godoy Cruz        38
Independiente     31
Lanús             26
Newell's OB       27
Patronato         31
Racing Club       29
River Plate       27
Rosario Cent      30
San Lorenzo       40
Talleres          26
Tucumán           28
Vélez Sarsf       29
Name: Player, dtype: int64

In [310]:
#watching the squad of San Lorenzo because they seem to have many players (strange)
df[df['Squad'] == 'San Lorenzo'].sort_values('Age')

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min
602,603,Luis Sequeira\Luis-Sequeira,ar ARG,MF,San Lorenzo,16.0,2003.0,2,0,7
624,625,Agustin Hausch\Agustin-Hausch,ar ARG,FW,San Lorenzo,16.0,2003.0,1,0,45
631,632,Alexander Díaz\Alexander-Diaz,ar ARG,FW,San Lorenzo,19.0,2000.0,8,2,294
617,618,Agustín Peralta\Agustin-Peralta,ar ARG,DF,San Lorenzo,19.0,2000.0,1,0,18
625,626,Adolfo Gaich\Adolfo-Gaich,ar ARG,FW,San Lorenzo,20.0,1999.0,12,7,652
623,624,Marcelo Herrera\Marcelo-Herrera,ar ARG,DFMF,San Lorenzo,20.0,1998.0,12,11,999
622,623,Manuel Insaurralde\Manuel-Insaurralde,ar ARG,MF,San Lorenzo,20.0,1999.0,1,0,30
618,619,Julián Palacios\Julian-Palacios,ar ARG,MF,San Lorenzo,20.0,1999.0,10,5,416
615,616,Elías Pereyra\Elias-Pereyra,ar ARG,DF,San Lorenzo,20.0,1999.0,1,1,60
616,617,Mariano Peralta\Mariano-Peralta,ar ARG,FW,San Lorenzo,21.0,1998.0,1,0,39
637,638,Nahuel Barrios\Nahuel-Barrios,ar ARG,MF,San Lorenzo,21.0,1998.0,9,5,541
627,628,Gianluca Ferrari\Gianluca-Ferrari,ar ARG,DF,San Lorenzo,22.0,1997.0,6,6,471
621,622,Emanuel Maciel\Emanuel-Maciel,ar ARG,MF,San Lorenzo,22.0,1997.0,1,1,90
603,604,Marcos Senesi\Marcos-Senesi,ar ARG,DF,San Lorenzo,22.0,1997.0,4,4,360
628,629,Nicolás Fernández\Nicolas-Fernandez,ar ARG,FW,San Lorenzo,23.0,1996.0,4,4,267
638,639,Adam Bareiro\Adam-Bareiro,py PAR,FW,San Lorenzo,23.0,1996.0,11,6,533
611,612,Mauro Pittón\Mauro-Pitton,ar ARG,MF,San Lorenzo,24.0,1994.0,8,3,412
626,627,Héctor Fértoli\Hector-Fertoli,ar ARG,MF,San Lorenzo,24.0,1994.0,2,2,167
608,609,Nicolás Reniero\Nicolas-Reniero,ar ARG,MF,San Lorenzo,24.0,1995.0,2,2,180
609,610,Juan Ramírez\Juan-Ramirez,ar ARG,MF,San Lorenzo,26.0,1993.0,16,13,1077
610,611,Gerónimo Poblete\Geronimo-Poblete,ar ARG,MF,San Lorenzo,26.0,1993.0,19,19,1570
612,613,Bruno Pittón\Bruno-Pitton,ar ARG,DFMF,San Lorenzo,26.0,1993.0,21,21,1890
629,630,Víctor Ezequiel Salazar\Victor-Ezequiel-Salazar,ar ARG,DF,San Lorenzo,26.0,1993.0,5,5,388
620,621,Lucas Menossi\Lucas-Menossi,ar ARG,MF,San Lorenzo,27.0,1992.0,14,10,882
605,606,Ángel Romero\Angel-Romero,py PAR,FWMF,San Lorenzo,27.0,1992.0,20,19,1590
633,634,Ezequiel Cerutti\Ezequiel-Cerutti,ar ARG,MFFW,San Lorenzo,27.0,1992.0,4,2,192
614,615,Gino Peruzzi\Gino-Peruzzi,ar ARG,DF,San Lorenzo,27.0,1992.0,8,8,692
604,605,Óscar Romero\Oscar-Romero,py PAR,MFFW,San Lorenzo,27.0,1992.0,21,13,1257
639,640,Ramón Arias\Ramon-Arias,uy URU,DF,San Lorenzo,27.0,1992.0,11,9,883
635,636,Nicolás Blandi\Nicolas-Blandi,ar ARG,FW,San Lorenzo,29.0,1990.0,8,3,280
607,608,Diego Rodríguez\Diego-Rodriguez,uy URU,MF,San Lorenzo,29.0,1989.0,6,4,383
634,635,Rubén Botta\Ruben-Botta,ar ARG,MF,San Lorenzo,29.0,1990.0,1,1,61
600,601,Santiago Vergini\Santiago-Vergini,ar ARG,DF,San Lorenzo,30.0,1988.0,5,4,342
630,631,Alejandro Donatti\Alejandro-Donatti,ar ARG,DF,San Lorenzo,32.0,1986.0,6,6,540
613,614,Ignacio Piatti\Ignacio-Piatti,ar ARG,MF,San Lorenzo,34.0,1985.0,3,2,146
619,620,Nicolás Navarro\Nicolas-Navarro,ar ARG,GK,San Lorenzo,34.0,1985.0,11,11,990
606,607,Gonzalo Rodríguez\Gonzalo-Rodriguez,ar ARG,DF,San Lorenzo,35.0,1984.0,9,7,742
636,637,Fernando Belluschi\Fernando-Belluschi,ar ARG,MF,San Lorenzo,35.0,1983.0,9,9,645
632,633,Fabricio Coloccini\Fabricio-Coloccini,ar ARG,DF,San Lorenzo,37.0,1982.0,16,16,1345
601,602,Sebastián Torrico\Sebastian-Torrico,ar ARG,GK,San Lorenzo,39.0,1980.0,12,12,1080

In [286]:
#clasify in 3 groups (young, prime, experienced) the players in order to graph them.

#below age 24 its consider a young player.

young_age = df[df['Age']<24]

young_age = young_age.groupby(['Squad'])['Min'].sum()

young_age

Squad
Aldosivi           3323
Argentinos Jun     8671
Arsenal            3129
Banfield          10658
Boca Juniors       5558
CA Huracán         7287
CA Unión           5836
CC Córdoba         4548
Colón              4097
Defensa y Just     6044
Estudiantes        8644
Gimnasia ELP       7701
Godoy Cruz        14635
Independiente      4488
Lanús              7029
Newell's OB        3735
Patronato          2209
Racing Club        3381
River Plate        9870
Rosario Cent       3496
San Lorenzo        4822
Talleres          14227
Tucumán            2038
Vélez Sarsf       12062
Name: Min, dtype: int64

In [287]:
#prime age is between 24 and 29 years old.

prime_age = df[df['Age'].between(24,29)]

prime_age = prime_age.groupby(['Squad'])['Min'].sum()

prime_age

Squad
Aldosivi          16865
Argentinos Jun     4226
Arsenal           11925
Banfield           4112
Boca Juniors       9946
CA Huracán         9245
CA Unión          12618
CC Córdoba        12654
Colón              9844
Defensa y Just    13630
Estudiantes        5335
Gimnasia ELP       6809
Godoy Cruz         7944
Independiente     12668
Lanús             12037
Newell's OB       10270
Patronato         11920
Racing Club        6682
River Plate        3428
Rosario Cent       8909
San Lorenzo       11904
Talleres           6759
Tucumán            9498
Vélez Sarsf        7584
Name: Min, dtype: int64

In [298]:
#experienced group is age 30 or above.

experienced_age = df[df['Age']>=30]

experienced_age = experienced_age.groupby(['Squad'])['Min'].sum()

#Godoy Cruz doesn't have player above age 29, so we add it to the dataframe.

experienced_age.loc['Godoy Cruz'] = 0

experienced_age

Squad
Aldosivi           2515
Argentinos Jun     9823
Arsenal            7617
Banfield           7962
Boca Juniors       7140
CA Huracán         6201
CA Unión           4218
CC Córdoba         5491
Colón              8772
Defensa y Just     3096
Estudiantes        8789
Gimnasia ELP       8162
Independiente      5462
Lanús              3704
Newell's OB        8764
Patronato          8478
Racing Club       12509
River Plate        9377
Rosario Cent      10365
San Lorenzo        5830
Talleres           1696
Tucumán           11163
Vélez Sarsf        3119
Godoy Cruz            0
Name: Min, dtype: int64

In [300]:
#merge the three clasifications made.

first_merge = pd.merge(young_age, prime_age, on='Squad') 

graph = pd.merge(first_merge, experienced_age, on='Squad').rename(columns={'Min_x':'Young','Min_y':'Prime','Min':'Experienced'})

graph['Min_Total'] = graph.sum(axis=1)

graph

                Young  Prime  Experienced  Min_Total
Squad
Aldosivi         3323  16865         2515      22703
Argentinos Jun   8671   4226         9823      22720
Arsenal          3129  11925         7617      22671
Banfield        10658   4112         7962      22732
Boca Juniors     5558   9946         7140      22644
CA Huracán       7287   9245         6201      22733
CA Unión         5836  12618         4218      22672
CC Córdoba       4548  12654         5491      22693
Colón            4097   9844         8772      22713
Defensa y Just   6044  13630         3096      22770
Estudiantes      8644   5335         8789      22768
Gimnasia ELP     7701   6809         8162      22672
Godoy Cruz      14635   7944            0      22579
Independiente    4488  12668         5462      22618
Lanús            7029  12037         3704      22770
Newell's OB      3735  10270         8764      22769
Patronato        2209  11920         8478      22607
Racing Club      3381   6682        12509      22572
River Plate      9870   3428         9377      22675
Rosario Cent     3496   8909        10365      22770
San Lorenzo      4822  11904         5830      22556
Talleres        14227   6759         1696      22682
Tucumán          2038   9498        11163      22699
Vélez Sarsf     12062   7584         3119      22765

In [ ]:
#plot graph