In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [60]:
df = pd.read_csv("fbref_data.txt")

In [61]:
df

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK,G+A-PK,Matches
0,1,Nahuel Yeri\Nahuel-Yeri,ar ARG,MFDF,Aldosivi,27.0,1991.0,4,2,190,...,0,0,1,0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Lucas Villalba\Lucas-Villalba,ar ARG,DF,Aldosivi,24.0,1994.0,21,21,1890,...,0,0,6,0,0.00,0.10,0.10,0.00,0.10,Matches
2,3,Gonzalo Verón\Gonzalo-Veron,ar ARG,FW,Aldosivi,29.0,1989.0,16,13,1069,...,0,0,1,0,0.08,0.08,0.17,0.08,0.17,Matches
3,4,Facundo Tobares\Facundo-Tobares,ar ARG,FW,Aldosivi,19.0,2000.0,1,0,56,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,Matches
4,5,Nazareno Solís\Nazareno-Solis,ar ARG,FWMF,Aldosivi,25.0,1994.0,17,14,1209,...,0,0,3,0,0.15,0.07,0.22,0.15,0.22,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,719,Agustín Bouzat\Agustin-Bouzat,ar ARG,FWMF,Vélez Sarsf,25.0,1994.0,19,17,1338,...,0,0,4,0,0.00,0.00,0.00,0.00,0.00,Matches
719,720,Álvaro Barreal\Alvaro-Barreal,ar ARG,MF,Vélez Sarsf,18.0,2000.0,5,1,114,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,Matches
720,721,Ricky Álvarez\Ricky-Alvarez,ar ARG,MF,Vélez Sarsf,31.0,1988.0,1,0,11,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,Matches
721,722,Thiago Almada\Thiago-Almada,ar ARG,MFFW,Vélez Sarsf,18.0,2001.0,22,10,1203,...,1,1,0,0,0.30,0.00,0.30,0.22,0.22,Matches
722,723,Luis Abram\Luis-Abram,pe PER,DF,Vélez Sarsf,23.0,1996.0,19,19,1690,...,0,0,4,1,0.00,0.00,0.00,0.00,0.00,Matches

In [24]:
df.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls.1', 'Ast.1',
       'G+A', 'G-PK', 'G+A-PK', 'Matches'],
      dtype='object')

In [25]:
#drop columns that we don't need
df.drop(['Gls', 'Ast', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls.1',
       'Ast.1', 'G+A', 'G-PK', 'G+A-PK', 'Matches'], axis=1, inplace=True)

In [30]:
df.describe()

              Rk         Age         Born          MP      Starts          Min
count  723.00000  717.000000   717.000000  723.000000  723.000000   723.000000
mean   362.00000   25.743375  1992.947001   10.652835    8.398340   753.185339
std    208.85641    5.116353     5.121429    7.042988    7.111623   611.139390
min      1.00000   16.000000  1978.000000    1.000000    0.000000     3.000000
25%    181.50000   22.000000  1989.000000    4.000000    2.000000   180.000000
50%    362.00000   25.000000  1994.000000   10.000000    7.000000   623.000000
75%    542.50000   29.000000  1997.000000   17.000000   14.000000  1240.000000
max    723.00000   41.000000  2003.000000   23.000000   23.000000  2070.000000

In [32]:
#find NA values
df.isna().sum()

Rk        0
Player    0
Nation    0
Pos       0
Squad     0
Age       6
Born      6
MP        0
Starts    0
Min       0
dtype: int64

In [39]:
#rows that are the NA values
null_data = df[df.isnull().any(axis=1)]
null_data

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min
106,107,Juan Álvarez\Juan-Alvarez,ar ARG,MFFW,Banfield,NaN,NaN,11,9,756
179,180,Franco Godoy\Franco-Godoy,ar ARG,DF,CA Unión,NaN,NaN,2,1,94
244,245,Brian Galván\Brian-Galvan,ar ARG,MFFW,Colón,NaN,NaN,5,2,251
377,378,Franco González\Franco-Gonzalez,ar ARG,MF,Godoy Cruz,NaN,NaN,4,2,157
437,438,Facundo Pérez\Facundo-Perez,ar ARG,MF,Lanús,NaN,NaN,4,2,166
571,572,Rodrigo Villagra\Rodrigo-Villagra,ar ARG,MF,Rosario Cent,NaN,NaN,1,0,15

In [58]:
#fill NA values with real value
#values = {'Age':[24,20,19,21,20,19], 'Born':[1996,2000,2000,1999,1999,2001]}
values = {'Age':24, 'Born':1996}

#df.fillna(value=values, inplace=True)

Rk        0
Player    0
Nation    0
Pos       0
Squad     0
Age       0
Born      0
MP        0
Starts    0
Min       0
dtype: int64

In [55]:
#check NA values
df.isna().sum()

Rk        0
Player    0
Nation    0
Pos       0
Squad     0
Age       6
Born      6
MP        0
Starts    0
Min       0
dtype: int64

In [44]:
df

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min
0,1,Nahuel Yeri\Nahuel-Yeri,ar ARG,MFDF,Aldosivi,27.0,1991.0,4,2,190
1,2,Lucas Villalba\Lucas-Villalba,ar ARG,DF,Aldosivi,24.0,1994.0,21,21,1890
2,3,Gonzalo Verón\Gonzalo-Veron,ar ARG,FW,Aldosivi,29.0,1989.0,16,13,1069
3,4,Facundo Tobares\Facundo-Tobares,ar ARG,FW,Aldosivi,19.0,2000.0,1,0,56
4,5,Nazareno Solís\Nazareno-Solis,ar ARG,FWMF,Aldosivi,25.0,1994.0,17,14,1209
...,...,...,...,...,...,...,...,...,...,...
718,719,Agustín Bouzat\Agustin-Bouzat,ar ARG,FWMF,Vélez Sarsf,25.0,1994.0,19,17,1338
719,720,Álvaro Barreal\Alvaro-Barreal,ar ARG,MF,Vélez Sarsf,18.0,2000.0,5,1,114
720,721,Ricky Álvarez\Ricky-Alvarez,ar ARG,MF,Vélez Sarsf,31.0,1988.0,1,0,11
721,722,Thiago Almada\Thiago-Almada,ar ARG,MFFW,Vélez Sarsf,18.0,2001.0,22,10,1203
722,723,Luis Abram\Luis-Abram,pe PER,DF,Vélez Sarsf,23.0,1996.0,19,19,1690

In [41]:
#group by team and sum minutes
team_min = df.groupby(['Squad','Age'])['Min'].sum()
team_min

Squad        Age
Aldosivi     18.0      44
             19.0      56
             20.0     337
             22.0    1066
             23.0    1820
                     ...
Vélez Sarsf  30.0    1710
             31.0      11
             32.0     360
             33.0    1035
             40.0       3
Name: Min, Length: 359, dtype: int64